<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myrestfulmind">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyRestfulMind">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClientloginActivity" />
        <activity android:name=".TherapistloginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".TherapistsignupActivity" />
        <activity android:name=".ClienthomeActivity" />
        <activity android:name=".TherapisthomeActivity" />
        <activity android:name=".surveyOneActivity" />
        <activity android:name=".surveyTwoActivity" />
        <activity android:name=".surveyThreeActivity" />
        <activity android:name=".surveyFourActivity" />
        <activity android:name=".surveyFiveActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".FaqsActivity" />
        <activity android:name=".TermsActivity" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>